.app-drawer
{
    display: flex;
    flex-direction: column;

    &__content
    {
        flex: 1 1 auto;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
}

body {
    background-position: 24px -24px !important;

    &.body--dark {
        background-image: url(/images/background-light.svg) !important;
    }

    &.body--light {
        background-image: url(/images/background-dark.svg) !important;
    }
}

.q-header {
    background-image: url(/images/waves.svg) !important;
    background-color: var(--q-primary);
}

.footer__top,
.footer__bottom {
    background-image: url(/images/waves.svg) !important;
    background-color: var(--q-primary);
}
