.app-drawer
{
    display: flex;
    flex-direction: column;

    &__content
    {
        flex: 1 1 auto;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__append
    {
        // ...
    }
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
}