// Theme colors
$primary   : #673AB7;
$secondary : #03A9F4;
$accent    : #607D8B;
$dark      : #1D1D1D;
$dark-page : #121212;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// Dark theme shadows fix
$separator-dark-color : rgba(255, 255, 255, .12);
$dark-shadow-color    : #000;
$layout-shadow-dark   : 0 0 10px 2px rgba(0, 0, 0, .2), 0 0px 10px rgba(0, 0, 0, .24);

// Other adjustments
$tooltip-fontsize : "14px";